<!doctype html>
<html>
	<head>
		<title>404 | Node-Auth</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/css/main.css" >
	</head>
	
	<body>
		
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
				
					<h1 id="main-title">Something Went Wrong! 404</h1>
					<p id="main-butts">
						<a href="/" class="main-butt">Back to Home</a>
					</p>
					
				</div>
			</div>
		</div>
		
	</body>
</html>