<!doctype html>
<html>
	<head>
		<title>Budget Recorder Tracker</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/css/main.css" >
	</head>
	
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
				
					<h1 id="main-title">Welcome to Budget Recorder Tracker</h1>
					<hr>
					
					<h3 id="main-logsign">Login or Register</h3>		
					
					<p id="main-butts">
						<a href="/login" class="main-butt">Login</a>
						<a href="/signup" class="main-butt">Signup</a>
					</p>
					
				</div>
			</div>
		</div>
		
	</body>
</html>